:root {
  --color-primary-100: #f2f6fb;
  --color-primary-200: #e5edf7;
  --color-primary-300: #c7d9ee;
  --color-primary-400: #a5c3e5;
  --color-primary-500: #79aadc;
  --color-primary-600: #2c8dd2;
  --color-primary-700: #277ebc;
  --color-primary-800: #226da3;
  --color-primary-900: #1c5985;
  --color-primary-1000: #143f5e;

  --color-secondary-100: #060b12;
  --color-secondary-200: #090f19;
  --color-secondary-300: #0b131f;
  --color-secondary-400: #0d1524;
  --color-secondary-500: #0e1828;
  --color-secondary-600: #737478;
  --color-secondary-700: #a2a2a4;
  --color-secondary-800: #c6c6c7;
  --color-secondary-900: #e4e4e5;
  --color-secondary-1000: #f2f2f2;

  --color-tertiary-100: #09101a;
  --color-tertiary-200: #0d1625;
  --color-tertiary-300: #10182d;
  --color-tertiary-400: #131f34;
  --color-tertiary-500: #15233a;
  --color-tertiary-600: #74767d;
  --color-tertiary-700: #a2a4a7;
  --color-tertiary-800: #c6c7c9;
  --color-tertiary-900: #e4e5e6;
  --color-tertiary-1000: #f2f2f3;
  --color-white: #0e1828;
}

.dark {
  --color-primary-100: #f2f6fb;
  --color-primary-200: #e5edf7;
  --color-primary-300: #c7d9ee;
  --color-primary-400: #a5c3e5;
  --color-primary-500: #79aadc;
  --color-primary-600: #2c8dd2;
  --color-primary-700: #277ebc;
  --color-primary-800: #226da3;
  --color-primary-900: #1c5985;
  --color-primary-1000: #143f5e;

  --color-secondary-100: #f2f2f2;
  --color-secondary-200: #e4e4e5;
  --color-secondary-300: #c6c6c7;
  --color-secondary-400: #a2a2a4;
  --color-secondary-500: #737478;
  --color-secondary-600: #0e1828;
  --color-secondary-700: #0d1524;
  --color-secondary-800: #0b131f;
  --color-secondary-900: #090f19;
  --color-secondary-1000: #060b12;

  --color-tertiary-100: #f2f2f3;
  --color-tertiary-200: #e4e5e6;
  --color-tertiary-300: #c6c7c9;
  --color-tertiary-400: #a2a4a7;
  --color-tertiary-500: #74767d;
  --color-tertiary-600: #15233a;
  --color-tertiary-700: #131f34;
  --color-tertiary-800: #10182d;
  --color-tertiary-900: #0d1625;
  --color-tertiary-1000: #09101a;
  --color-white: #fff;
}
