@tailwind base;
@tailwind components;
@tailwind utilities;

.login-bg {
  background-image: url("./assets/image/login-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes pulseBackground {
  0% {
    background-color: #090f19;
  }
  50% {
    background-color: #0e1828;
  }
  100% {
    background-color: #090f19;
  }
}

.loading-animation {
  animation: pulseBackground 3s infinite ease-in-out;
}
