@tailwind base;
@tailwind components;
@tailwind utilities;

.login-bg {
  background-image: url("./assets/image/login-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes pulseBackground {
  0% {
    background-color: #090f19;
  }
  50% {
    background-color: #0e1828;
  }
  100% {
    background-color: #090f19;
  }
}

.loading-animation {
  animation: pulseBackground 3s infinite ease-in-out;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #0e18289a #ffffff00;
}
